{{ "<!-- Contact -->" | safeHTML}}
    <section id="contact">
        <div class="inner">
            <section class="split">
                <section>
                    <div class="contact-method">
                        <span class="icon alt fa-envelope"></span>
                        {{ range .Site.Params.Contact.email }}
                        <h3>{{ .title }}</h3>
                        <a href="mailto:{{ .email }}">{{ .email }}</a>
                        {{ end }}
                    </div>
                </section>
                <section>
                    <div class="contact-method">
                        <span class="icon alt fa-phone"></span>
                        {{ range .Site.Params.Contact.phone }}
                        <h3>{{ .title }}</h3>
                        <span>{{ .phone }}</span>
                        {{ end }}
                    </div>
                </section>
                <section>
                    <div class="contact-method">
                      <span class="icon alt fa-mobile"></span>
                      {{ range .Site.Params.Contact.mobile }}
                      <h3>{{ .title }}</h3>
                      <span>{{ .phone }}</span>
                      {{ end }}
                    </div>
                </section>
            </section>
        </div>
    </section>
